<h1>Login</h1>

<h3><%= flash[:notice] %></h3>

<%= form_tag login_path do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %><br><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Login" %>
  <%= link_to "Create An Account", new_user_path %>
  <% if session[:user_id] %>
    <h1><%= @user.name %></h1>
    <h2>Email: <%= @user.email %></h2>
    <h2>Facebook UID: <%= @user.uid %></h2>
    <img src="<%= @user.image %>">
    <% else %>
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
  <% end %>
<% end %>
