<h1>Welcome Back</h1>

<h2>Name: <%= @user.name %></h2>
<h2>Address:</h2>
<h2><%= @user.street %></h2>
<h2><%= @user.city %>, <%= @user.state %> <%= @user.zip %></h2>
<h2>Phone: <%= @user.phone %></h2>

<h3>Cars you have rented:</h3>

<ul>
  <% @user.rentals.each do |rent| %>
    <li><%= link_to rent.car.make + " " + rent.car.model, car_path(rent.car) %><br>
      Review: <%= rent.review %>
    </li>
  <% end %>
</ul>
<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Rent A Car", cars_path%>
<%= link_to "Sell Your Car", new_sale_path %>
